<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue hello </title>

    <style>
        .red {
            color: red;
            text-decoration: underline;
            text-underline-offset: 0.5rem;
        }
    </style>
</head>

<body>

    <div id="root">
        <h1>Indicare la propria data di nascita</h1>
        <input type="text" v-model="giorno">
        <input type="text" v-model="mese">
        <input type="text" v-model="anno">
        <p v-bind:class="classColor">Sei nato il: {{giorno}} / {{mese}} / {{anno}}</p>
        <br>
        <p>bonus:</p>
        <img v-bind:src="prefix+address" alt="">




    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./asset/JS/main.js"></script>
</body>

</html>